@model IEnumerable<HRM.ViewModels.Employee.EmployeeViewModel>

@{
    ViewBag.Title = "SearchByAge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SearchByGender</h2>

@Html.Partial("_SearchEmployeeList", Model)
